@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form class="form-inline">
        <div class="form-group d-flex">
            <label class="flex-nowrap">Person A</label>
            <input type="number" class="form-control flex-nowrap" />
        </div>
    </form>
</div>
